.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 30px;
}

.App-link {
  color: #61dafb;
}

.App-input {
  border-radius: 3px;
  font-size: 1rem;
  height: 30px;
  line-height: 30px;
  min-width: 200px;
  padding: 5px 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pokemon-list {
  margin: 10px 0;
}

.pokemon-list li {
  cursor: pointer;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.pokemon-list li:hover {
  color: yellow;
}

.sorting-options {
  align-items: center;
  display: flex;
  width: 220px;
}

.sorting-options p {
  cursor: pointer;
  font-size: 0.75rem;
  margin-right: 10px;
  padding: 5px 10px;
}

.sorting-options p.current {
  background-color: #61dafb;
  border-radius: 12px;
  color: #282c34;
}

.pagination-section {
  align-items: center;
  display: flex;
  width: 220px;
}

.pagination-section button {
  border: 1px solid #61dafb;
  border-radius: 5px;
  background-color: #282c34;
  color: #61dafb;
  padding: 5px 10px;
}

.pokemon-detail {
  text-align: center;
}

.pokemon-detail h2 {
  margin: 0 0 5px 0;
  text-transform: capitalize;
}

.pokemon-stats {
  margin: 0 auto;
  width: 90%;
}
